{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<article id="postArticle">
  <p id="q_message" class="fs-4 m-0" style="font-weight: bold;"></p>
  <div class="m-3">
    <p id="q_author" class="fs-3 m-0" style="font-style: oblique; font-weight: bold; color: #949494;"></p>
    <p id="q_author_detail" class="fs-3 m-0" style="font-style: oblique; font-weight: bold; color: #949494;"></p>
  </div>
  <script>
		(async function () {
      try {
        const kor_quotes_response = await fetch('https://leejiseop.github.io/assets/js/kor_quotes.json');
				const phrase_ = await kor_quotes_response.json();
				const $q_message = document.getElementById('q_message');
				const $q_author = document.getElementById('q_author');
        const $q_author_detail = document.getElementById('q_author_detail');
				function ranQuote() {
          const ran1 = Math.floor(Math.random() * phrase_.length);
          $q_author.innerHTML = phrase_[ran1]['author'];
          $q_author_detail.innerHTML = phrase_[ran1]['author_detail'];
					$q_message.innerHTML = phrase_[ran1]['message'];
				}
				ranQuote();
			} catch (err) {
				console.log(err);
			}
		})();
	</script>
</article>
