{ % if page.has_children == false % }
<script src="https://giscus.app/client.js"
        data-repo="devshjeon/devshjeon.github.io"
        data-repo-id="R_kgDOJ0EQOQ"
        data-category="General"
        data-category-id="DIC_kwDOJ0EQOc4CaQfX"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{ % endif % }